**/rocky*
**/debian*
**/ubuntu*
**/OfakeG*
**/openmpi*
**/*.sif
g09/g09E_no_tests.tar.bz2
g16/g16C02_no_tests.tar.bz2
lammps22Jul2025/lammps-src-22Jul2025.tar.gz
molpro202420/molpro24.2_hack/*
molpro202420/molpro-mpp-2024.2.0.linux_x86_64_sockets.sh
orca601/orca_6_0_1_linux_x86-64_shared_openmpi416_avx2.tar.xz
orca611/orca_6_1_1_linux_x86-64_shared_openmpi418_avx2.tar.xz
vasp642/potpaw_LDA.64.tgz
vasp642/potpaw_PBE.64.tgz
vasp642/vasp.6.4.2.tgz
vasp642/vaspkit.1.5.1.linux.x64.tar.gz
vasp642/vtstscripts.tgz
vasp642-intel/potpaw_LDA.64.tgz
vasp642-intel/potpaw_PBE.64.tgz
vasp642-intel/vasp.6.4.2.tgz
vasp642-intel/vaspkit.1.5.1.linux.x64.tar.gz
xtb-crest-edge/xtb*.tar.xz
xtb-crest-edge/crest*.tar.xz
psi4-191/Psi4conda-1.9.1-py313-Linux-x86_64.sh
wannier90-develop/wannier90-develop-20260119.zip
qe75/q-e-qe-7.5.tar.gz
qe75/libxc-7.0.0.tar.gz
